/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the contact.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.
*/

html, body {
    margin: 0;
    padding: 0;
    height: 120%;
    background: linear-gradient(180deg, #e6b2b2 -50%, #793232 69.71%, #5f1010 150%);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

/*
NAME:-
      h3
DESCRIPTION:
        Anything in the home.html with h23
RESULTS:
    1. Visually see the color,margin, padding, and font family.
*/

h3 {
    color:#f3eeee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto;
    padding: 2px solid #d1c7c7 ;
}


/*
NAME:-
      h4
DESCRIPTION:
        Anything in the contact.html with p
RESULTS:
    1. Visually see the color, font family, text decoration, font-size, padding, and size-adjust.
*/

h4 {
    color:#ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size-adjust: 40px;
    font-size: 20px;
    padding: 2px solid #d1c7c7 ;
}

/*
NAME:-
      h5
DESCRIPTION:
        Anything in the contact.html with p
RESULTS:
    1. Visually see the color, font family, text decoration, font-size, margin, padding, and size-adjust.
*/

h5{
    color:#ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size-adjust: 40px;
    font-size: 15px;
    margin:auto;
    padding: 2px solid #d1c7c7 ;
}

/*
NAME:-
      ul
DESCRIPTION:
        Anything in the contact.html that  in the ul modify the directory
RESULTS:
    1. Visually see the font-family, display, gap, align-items, and justify-content.

*/

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 100px;
    align-items: center;
  justify-content: center;
}

/*
NAME:-
      ul li 
DESCRIPTION:
        Anything in the contact.html that  in the ul and li directory
RESULTS:
    1. Visually see the list-style.

*/

ul li {
    list-style: none;
}

/*
NAME:-
      ul li a
DESCRIPTION:
        Anything in the contact.html that  ul, li and a 
RESULTS:
    1. Visually see the font-size, font-weight, text-decoration, text-transform, color,margin, padding, and transition.

*/

ul li a{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    transition: 0.5s ease;
    margin:auto;
}

/*
NAME:-
      ul:hover li a
DESCRIPTION:
        Anything in the contact.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone hover over the color changes.

*/

ul:hover li a {
    color:#30edf4;
}

/*
NAME:-
      ul:hover li a:not(:hover)
DESCRIPTION:
        Anything in the contact.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone doesnt hover over the color is white with opacity,m and a blur.

*/

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
    margin:auto;
}

/*
NAME:-
      box
DESCRIPTION:
        Anything in the contact.html that  in the div box
RESULTS:
    1. Visually see the contact picture as: position, width,height,left,background,borer-radius, and overflow

*/

.box{
    position: relative;
    width: 700px;
    height: 700px;
    left: 600px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

/*
NAME:-
      box::before
DESCRIPTION:
        Anything in the contact.html that  in the div box
RESULTS:
    1. Visually see the before contact picture as: content. position, inset,background, transition, and animation

*/

.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

/*
NAME:-
      box::hover::before
DESCRIPTION:
        Anything in the contact.html that  in the div box
RESULTS:
    1. Visually see the before contact picture as: inset

*/

.box:hover::before {
    inset: -20px 0px;
}


/*
NAME:-
      keyframes animate
DESCRIPTION:
        Anything in the contact.html that  in the div box
RESULTS:
    1. Visually see the animation contact picture as: transform

*/

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/*
NAME:-
      box::after
DESCRIPTION:
        Anything in the contact.html that  in the div box
RESULTS:
    1. Visually see the after contact picture as: content, position, inset,background, border-radius, and z-index

*/

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

/*
NAME:-
      content
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as:  position, inset, border, z-index, border-radius, display, align-items, and flex-direction.
    
*/

.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
NAME:-
      content img
DESCRIPTION:
        Anything in the contact.html that  in the content img
RESULTS:
    1. Visually see the contact picture as:  position, left, top, width, height, border-radius, object-fit, overflow, and pointer-events
    
*/

.content img {
    position: absolute;
    left:0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
    z-index: 3;
}

/*
NAME:-
      box:hover content img
DESCRIPTION:
        Anything in the contact.html that  in the content img
RESULTS:
    1. Visually see the contact picture as:  opacity
    
*/

.box:hover .content img {
    opacity: 0;
}

/*
NAME:-
      content h2
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as:  position, font-size, text-align, color, font-weight, letter-spacing, text-transform, and top.
    
*/

.content h2 {
    position: relative;
    font-size: 2.7rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    top: 200px;
}

/*
NAME:-
      content h2 span
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as: font-weight and font-size.
    
*/

.content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

/*
NAME:-
      .lettersMain
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as: position, text-align, and right
    
*/

.lettersMain{
    position: relative;
    text-align: center;
    right: -17%;
}

/*
NAME:-
      .letters
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as: font-weight and font-size.
    
*/

.letters{
    position: relative;
    display: flex;
}

/*
NAME:-
      content h2 span
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as: font-weight and font-size.
    
*/

.letter{
    position: relative;
    display: block;
    margin-left: 0;
    color:#7c2a3c;
    font-family: "Poppkins", sans-serif;
    font-size: 165px;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    opacity: 0;
    animation: moveLetters 0.10s ease-out forwards;
}

/*
NAME:-
      content h2 span
DESCRIPTION:
        Anything in the contact.html that  in the content
RESULTS:
    1. Visually see the contact picture as: font-weight and font-size.
    
*/

@keyframes moveLetters {
    0%
    {
        top:60%;
        opacity: 0;
    }
    70%
    {
        top: -30%;
        opacity: 0.7;
    }
    100%
    {
        top: 0%;
        opacity: 1;
    }
}


/*  =========Media Information Small Devices======== */

/*
NAME:-
      @media screen and (max-width: 600px)
DESCRIPTION:
        Anything in who looking at a smaller screen
RESULTS:
    1. Visually see the size-adjust for different devices.

*/

@media screen and (max-width: 600px){
    .container {
        width: 90%;   
    }

    section {
        margin-top: 2rem;
    }
}

/*  =========Media Information Medium Devices======== */

/*
NAME:-
      @media screen and (max-width: 1024px)
DESCRIPTION:
        Anything in who looking at a medium screen
RESULTS:
    1. Visually see the size-adjust for different devices.

*/

@media screen and (max-width: 1024px){
    .container {
        width: 86%;   
    }

    section {
        margin-top: 6rem;
    }
}
