/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

html,body {
    margin: 0;
    padding: 0;
    height: 150%;
    background: linear-gradient(180deg, #e7bfe5 -50%, #735377 69.71%, #2a65ff 150%);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

/*
NAME:-
      header
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the height, margin, align-items, and justify-content

*/

header{
    height: 10vh;
    margin:0;
    align-items: center;
    justify-content: center;
}

/*
NAME:-
      .parallax-text
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the top, font-family, font-size, font-style, and top.

*/

.parallax-text{
    position: absolute;
    font-family: 'Monstserrat','sans-serif';
    font-size: 5vw;
    font-style: italic;
    top:200px;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the content, position, z-index, top, left, color, and -webkit-text-stroke

*/

.parallax-text::after{
    content: attr(text);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 0.15vw black;
}

/*
NAME:-
      .image-front
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the coin image width, animation change.

*/

.image-front{
    width:20vw;
    animation: coinAnimation
    2s cubic-bezier(0.25,1,0.5,1)infinite alternate;
}


/*
NAME:-
      ul
DESCRIPTION:
        Anything in the home.html that  in the ul modify the directory
RESULTS:
    1. Visually see the font-family, display, gap, align-items, and justify-content.

*/

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 100px;
    align-items: center;
  justify-content: center;
}

/*
NAME:-
      ul li 
DESCRIPTION:
        Anything in the home.html that  in the ul and li directory
RESULTS:
    1. Visually see the list-style.

*/

ul li {
    list-style: none;
}

/*
NAME:-
      ul li a
DESCRIPTION:
        Anything in the home.html that  ul, li and a 
RESULTS:
    1. Visually see the font-size, font-weight, text-decoration, text-transform, color, padding, and transition.

*/

ul li a{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    transition: 0.5s ease;
}

/*
NAME:-
      ul:hover li a
DESCRIPTION:
        Anything in the home.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone hover over the color changes.

*/

ul:hover li a {
    color:#30edf4;
}

/*
NAME:-
      ul:hover li a:not(:hover)
DESCRIPTION:
        Anything in the home.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone doesnt hover over the color is white with opacity and a blur.

*/

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}

/*
NAME:-
      @keyframes coinAnimation
DESCRIPTION:
        Anything in the home.html animated the coin to move
RESULTS:
    1. Visually the coin move into the title

*/

@keyframes coinAnimation {
    0%, 10%{
        transform: 
        translate(100vw, 0)rotate(15deg);
    }
    90%,100%{
        transform: 
        translate(-5vw, -5vw) rotate(-30deg);
    }
}

/*
NAME:-
      header
DESCRIPTION:
        Anything in the home.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the color.

*/

header  {
    color:#ffffff;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the index.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

nav {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family:Time New Roman;
    cursor: pointer;
    background-color:#907494
}

/*
NAME:-
      div.coin
DESCRIPTION:
        Anything in the home.html that is labeled in the div class coin
RESULTS:
    1. Visually see the margin to be gold.

*/

div.coin {
    margin: gold;
}

/*
NAME:-
      img 
DESCRIPTION:
        Anything in the home.html that is labeled with img
RESULTS:
    1. Visually see the padding.

*/

img {
    padding: 2px;
}

/*
NAME:-
      .mario
DESCRIPTION:
        Anything in the home.html that is labeled with mario class
RESULTS:
    1. Visually see the border: 3px, solid, 

*/

.mario {
    border: 3px solid rgb(230, 164, 22);
}
/*
NAME:-
      h2
DESCRIPTION:
        Anything in the home.html with h2 
RESULTS:
    1. Visually see the color, text decoration, and font family.

*/

h2 {
    color:#ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

/*
NAME:-
      h3
DESCRIPTION:
        Anything in the home.html with h3
RESULTS:
    1. Visually see the color and font family.

*/

h3 {
    color:#75281c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
NAME:-
      p
DESCRIPTION:
        Anything in the home.html with p
RESULTS:
    1. Visually see the color, font style, and font family.

*/

p {
    color:  #ffffff;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

/*
NAME:-
      p
DESCRIPTION:
        Anything in the home.html with p
RESULTS:
    1. Visually see the color, font family, text decoration, and size-adjust.

*/

h4 {
    color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    size-adjust: 10px;
}

/*  =========Media Information Small Devices======== */

/*
NAME:-
      @media screen and (max-width: 600px)
DESCRIPTION:
        Anything in who looking at a smaller screen
RESULTS:
    1. Visually see the size-adjust for different devices.

*/

@media screen and (max-width: 600px){
    html,body {
        width: 90%;
        
    }
}
