/*
NAME:-
      *
DESCRIPTION:
        * anything label as this will get a box size border
RESULTS:
    1. the game will be in a box-sizing border

*/
* {
    box-sizing: border-box;
}
/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the index.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/*
NAME:-
      game-container
DESCRIPTION:
        Anything in the index.html that is labeled game-container which is a class is in index.html.
RESULTS:
    1. Visually see the what is in the ckass will be modify with poistion, height, width, transform will be scaled to 3, and image will be rendered to be pixelated

*/
.game-container { 
    position: relative;
    width: 240px;
    height: 208px;
    background: url(/images/map.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
  }
/*
NAME:-
      player-info
DESCRIPTION:
        Anything in the index.html that is labeled player-info which is a class inside .game-container which is in index.html.
RESULTS:
    1. Fix the character info visually. The poistion, top,left padding, display, gap, and align items.

*/
.player-info {
    position: absolute;
    top: 0;
    left:0;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: flex-end
  }
/*
NAME:-
     label
DESCRIPTION:
       Modify the players name
RESULTS:
    1. changing the display and font of the user name

*/
label {
    display: block;
    font-weight: bold;
  }
/*
NAME:
     input [type ="text"],button
DESCRIPTION:
       Modify the button with the text
RESULTS:
    1. changing the display of the button to look different with, the font style, size, weight, height, boreer-radius, and outline

*/
input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}
/*
NAME:-
     input [type ="text"]
DESCRIPTION:
       Modify the text
RESULTS:
    1. changing the display of the text with outline, padding, border with color, width, and text-transform

*/
input[type="text"] {
    outline: 0;
    padding-left: 0.5em;
    border: 3px solid #222034;
    width: 150px;
    text-transform: uppercase;
  }
/*
NAME:-
     input [type ="text"]:focus
DESCRIPTION:
       Modify the text
RESULTS:
    1. changing the display of the text border color to pink

*/
input[type="text"]:focus {
    border-color: #f000ff;
  }
/*
NAME:-
     button
DESCRIPTION:
       Modify the button
RESULTS:
    1. changing the display of the button with padding left,padding right, background color green, border, border-bottom, and cursor

*/
button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #59ff5a;
    border: 0;
    border-bottom: 2px solid #1e830b;
    cursor: pointer;
}
/*
NAME:-
     button:active
DESCRIPTION:
       Modify the button when active
RESULTS:
    1. changing the display of the button when active with the position relative and top
*/
button:active{
    position: relative;
    top: 1px;
}

/* Now for Characters */
/*
NAME:-
     grid-cell
DESCRIPTION:
       Modify the grid of the character
RESULTS:
    1. changing the display of the character grid with posotion, width, and height
*/
.grid-cell {
    position: absolute;
    width: 16px;
    height: 16px;
}
/*
NAME:-
    Character
DESCRIPTION:
       Modify the grid of the character
RESULTS:
    1. changing the display of the character transition
*/
.Character {
    transition: transform 0.4s;
}
/*
NAME:-
    Character.you
DESCRIPTION:
       Modify the character of me
RESULTS:
    1. changing the display of the character of me with the index
*/
.Character.you {
   z-index: 1;
}
/*Character's Arrows */

/*
NAME:-
    Character.you .Character_you-arrow
DESCRIPTION:
       Modify the character and character arrow
RESULTS:
    1. changing the display of the character 
*/
.Character.you .Character_you-arrow {
    display: block;
 }
 /*
NAME:-
    .Character_you-arrow
DESCRIPTION:
    Modify the character arrow
RESULTS:
    1. changing the display of the character arrow with display, position, top,left,width,height, and background.
*/
.Character_you-arrow {
    display: none;
    position: absolute;
    top:-18px;
    left: 5px;
    width: 7px;
    height: 5px;
    background: url(/images/arrow.png) no-repeat no-repeat;
}

/*Character's Sprites & Color for the Sprites*/

 /*
NAME:-
    .Character_sprite
DESCRIPTION:
    Modify the character sprite
RESULTS:
    1. changing the display of the character sprite with overflow, top, and background
*/
.Character_sprite {
    overflow: hidden;
    top: -3px;
    background: url(/images/characters.png);
}
 /*
NAME:-
    .Character[data-direction="right"] .Character_sprite 
DESCRIPTION:
    Modify the character sprite
RESULTS:
    1. changing the display of the character sprite with overflow, top, and background
*/
.Character[data-direction="right"] .Character_sprite {
    background-position: 16px;
}

/*Instead of multiple description of each color it will be on one description*/ 

/*
NAME:-
    .Character[data-color=""] .Character_sprite 
DESCRIPTION:
    Modify the character sprite
RESULTS:
    1. changing the display of the character sprite with background position y and the color.
*/
/* Red Sprite */
.Character[data-color="red"] .Character_sprite {
    background-position-y: -16px;
}
/* Orange Sprite */
.Character[data-color="orange"] .Character_sprite {
    background-position-y: -32px;
  }
/* Yellow Sprite */
.Character[data-color="yellow"] .Character_sprite {
    background-position-y: -48px;
  }
/* Green Sprite */
.Character[data-color="green"] .Character_sprite {
    background-position-y: -64px;
  }
/* Purple Sprite */
.Character[data-color="purple"] .Character_sprite {
    background-position-y: -80px;
  }

/*Character's Shadow */

/*
NAME:-
    .Character_shadow 
DESCRIPTION:
    Modify the character shadow
RESULTS:
    1. changing the display of the character shadow with entering the shadow image.
*/
.Character_shadow {
    background: url(/images/shadow.png) no-repeat no-repeat;
}

/*Character's Name Container */

/*
NAME:-
    .Character_name-container
DESCRIPTION:
    Modify the character name container
RESULTS:
    1. changing the display of the character name container with position,top,left,font-size, padding, border radius, background, color, font weight, text transform, and white space.
*/
.Character_name-container {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 5px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
/*Character's Coin's */

/*
NAME:-
    .Character_coins
DESCRIPTION:
    Modify the character coins
RESULTS:
    1. changing the display of the character coin with margin left and color
*/
.Character_coins {
    margin-left: 1px;
    color: gold;
  }

/* Coins */

/*
NAME:-
    .Character_coins
DESCRIPTION:
    Modify the character coins
RESULTS:
    1. changing the display of the character coin with margin left and color
*/
.Coin_sprite {
    background: url(/images/coin.png) no-repeat no-repeat;
    animation: coinFloat 0.8s linear infinite alternate-reverse;
}

/*
NAME:-
    .Character_coins
DESCRIPTION:
    Modify the character coins
RESULTS:
    1. changing the display of the character coin with margin left and color
*/
@keyframes coinFloat {
    from { transform: translateY(0) }
    to { transform: translateY(5px) }
  }
/*
NAME:-
    .Character_coins
DESCRIPTION:
    Modify the character coins
RESULTS:
    1. changing the display of the character coin with margin left and color
*/
.Coin_shadow {
    background: url(/images/coin-shadow.png) no-repeat no-repeat;
}