/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

html,body {
    margin: 0;
    padding: 0;
    height: 145%;
    font-family: 'Source Sans Pro', sans-serif;

}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

h1,h2, nav, div {
    text-align:center;
}

/*  =========Media Information Small Devices======== */

/*
NAME:-
      @media screen and (max-width: 600px)
DESCRIPTION:
        Anything in who looking at a smaller screen
RESULTS:
    1. Visually see the size-adjust for different devices.

*/

@media screen and (max-width: 600px){
    html,body {
        width: 90%;
        
    }
}

