/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

html,body {
    margin: 0;
    padding: 0;
    height: 143%;
    background: linear-gradient(180deg, #e7bfe5 -50%, #735377 69.71%, #2a65ff 150%);
    font-family: 'Josefin Sans',sans-serif;
    align-items: center;
    justify-content: center;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

h1,h2, nav, div {
    text-align:center;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

h3{
    letter-spacing: 1px;
}

/* The Animation for What I learned from this project... */

/*
NAME:-
      .wrapper 
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for I code in
RESULTS:
    1. Visually see the height,display, letter-spacing,and  font-size

*/

.wrapperone {
    height: 200px;
    display: flex;
    letter-spacing: 2px;
    font-size: 45px;
}

/*
NAME:-
      .wrapperone::before
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for what i learned
RESULTS:
    1. Visually see the content and font-size

*/

.wrapperone::before{
    content:"'";
    font-size: 50px;
}

/*
NAME:-
      .wrapperone::after
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for what i learned
RESULTS:
    1. Visually see the content and font size

*/

.wrapperone::after{
    content:"'";
    font-size: 50px;
}

/*
NAME:-
      .wrapper::before,.wrapper::after 
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for what i learned
RESULTS:
    1. Visually see the animation name, duration, and iteration count
*/

.wrapperone::before,.wrapperone::after {
    -webkit-animation-name: display;
    -webkit-animation-duration: 620s;
    -webkit-animation-iteration-count: infinite;
}


/* The Animation for I code in ... */


/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

.animate {
    margin: 0 10px;
    display: center;
    letter-spacing: 2px;
    font-size: 45px;
}

/*
NAME:-
      .wrapper 
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for I code in
RESULTS:
    1. Visually see the height,display, letter-spacing,and  font-size

*/

.wrapper {
    height: 200px;
    display: flex;
    letter-spacing: 2px;
    font-size: 45px;
}

/*
NAME:-
      .wrapper::before
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for I code in
RESULTS:
    1. Visually see the content and font-size

*/

.wrapper::before{
    content:"'";
    font-size: 50px;
}

/*
NAME:-
      .wrapper::after
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for I code in
RESULTS:
    1. Visually see the content and font size

*/

.wrapper::after{
    content:"'";
    font-size: 50px;
}

/*
NAME:-
      .wrapper::before,.wrapper::after 
DESCRIPTION:
        Anything in the project.html that is animated is effected in the wrapper for I code in
RESULTS:
    1. Visually see the animation name, duration, and iteration count
*/

.wrapper::before,.wrapper::after {
    -webkit-animation-name: display;
    -webkit-animation-duration: 70s;
    -webkit-animation-iteration-count: infinite;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

.words{
    margin: 0 3px;
    overflow: hidden;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

span{
    display: block;
    height: 200%;
    padding-left: 10px;
    color: rgb(70, 15, 15);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

@-webkit-keyframes display {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/*
NAME:-
      html,body
DESCRIPTION:
        Anything in the project.html that is labeled html and body will be modify with the code here
RESULTS:
    1. Visually see the backgrond color change, margin, padding, height, display, font, and etc be modify.

*/

@-webkit-keyframes spin {
    0%{
        transform: translateY(0%);
    }

    20%{
        transform: translateY(10%);
    }

    40%{
        transform: translateY(-90%);
    }

    60%{
        transform: translateY(-100%);
    }

    80%{
        transform: translateY(-200%);
    }

    100%{
        transform: translateY(-300%);
    }
}

/*
NAME:-
      .showcase
DESCRIPTION:
        Anything in the project.html that is labeled shows in the title
RESULTS:
    1. Visually see the backgrond width, height,and position.

*/

.showcase {
    width: 100%;
    height: 14%;
    position: relative;
}

/*
NAME:-
      .showcase video
DESCRIPTION:
        Anything in the project.html that is labeled shows a repeated video loop in the 
RESULTS:
    1. Visually see the width, height, position, top, left, and object-fit.

*/

.showcase video {

    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*
NAME:-
      .title
DESCRIPTION:
        Anything in the project.html that  in the div to modify the title
RESULTS:
    1. Visually see the width, height, background color, font-size, color, and mix-blend-mode

*/

.title {
    width: 100%;
    height: 90%;
    background-color: #000;
    font-size: 170px;
    color: #fff;
    mix-blend-mode: multiply;
}

/*
NAME:-
      ul
DESCRIPTION:
        Anything in the project.html that  in the ul modify the directory
RESULTS:
    1. Visually see the font-family, display, gap, align-items, and justify-content.

*/

ul {
    font-family: "Chivo Mono", monospace;
    display: flex;
    gap: 100px;
    align-items: center;
  justify-content: center;
}

/*
NAME:-
      ul li 
DESCRIPTION:
        Anything in the project.html that  in the ul and li directory
RESULTS:
    1. Visually see the list-style.

*/

ul li {
    list-style: none;
}

/*
NAME:-
      ul li a
DESCRIPTION:
        Anything in the project.html that  ul, li and a 
RESULTS:
    1. Visually see the font-size, font-weight, text-decoration, text-transform, color, padding, and transition.

*/

ul li a{
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    transition: 0.5s ease;
}

/*
NAME:-
      ul:hover li a
DESCRIPTION:
        Anything in the project.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone hover over the color changes.

*/

ul:hover li a {
    color:#30edf4;
}

/*
NAME:-
      ul:hover li a:not(:hover)
DESCRIPTION:
        Anything in the project.html that  in the ul, li and a 
RESULTS:
    1. Visually see when someone doesnt hover over the color is white with opacity and a blur.

*/

ul:hover li a:not(:hover) {
    color: white;
    opacity: 0.3;
    filter: blur(1px);
}


/*  =========Media Information Small Devices======== */

/*
NAME:-
      @media screen and (max-width: 600px)
DESCRIPTION:
        Anything in who looking at a smaller screen
RESULTS:
    1. Visually see the size-adjust for different devices.

*/

@media screen and (max-width: 600px){
    html,body {
        width: 90%;
        
    }
}
